.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}
.image-logo {
  max-width: 65px;
  margin-right: 10px;
}

.header{
  background-color: #4e109f;
  color: white;
  padding: 1rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}
  .header a{
    text-decoration: none;
    color: white;
  }

.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: min(100%, 1300px);
  margin: 0 auto;
}
.logo{
  letter-spacing: 0.2px;
  font-size: 1.4em;
  align-items: self-start;
}

.login {
  color: white !important;
  /* margin-left: 480px; */
}

.navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
  .navigation ul li {
    display: inline-block;
  } 
    .navigation ul li a {
      display: block;
      padding: 0.5rem 1rem;
      transition: all 0.4s linear;
      border-radius: 5px;
    }
      .navigation ul li a:hover{
        background: #845abd;
      }

.cart, .menu-icon{
  display: none;
}
.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: absolute;
  background-color: #e4daf0;
  border-radius: 0.5rem;
  right: 5px;
  min-width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.show app-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  position: relative;
}
.menu__title:hover + .submenu, .submenu:hover {
  max-height: 10rem;
  padding: 0.5rem !important;
}

.submenu {
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s ease;
  box-sizing: border-box;
  background: white;
  color: black;
  border-radius: 0.25rem;
  position: absolute;
  padding: 0 !important;
}
.submenu-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
a.submenu__link {
  color: black !important;
}
.menu__checkbox {
  display: none;
}


@media(max-width: 767px){

  .menu-icon{
    display: block;
    cursor: pointer;
  }
  .navigation{
    width: 100%;
    margin-top:1rem ;
  }
    .navigation ul{
      display:none;
    }
    .navigation ul.show{
      display: block;
    }

    .navigation ul li {
      display: block;
    } 
      .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
      }
        .navigation ul li a:hover{
          background: #845abd;
        }

}
