<header class="header">
<div class="logo-nav-container">
  <a href="/" class="logo">
  <img class="image-logo" src="assets/images/LogoBlancoSLetras.png">
  Mundo Literario
  </a>
  <span class="menu-icon">Ver menú</span>
    <nav class="navigation">
      <ul class="menu">
        <!-- Repite este bloque por cada categoría -->
        <li *ngFor="let category of menuData" class="">
          <a class="menu__title">{{category.name}}</a>
          <ul class="submenu">
            <li *ngFor="let genre of category.genre" class="submenu-group">
              <h4>{{genre.name}}</h4>
              <ul class="submenu-list">
                <li *ngFor="let subgenre of genre.subgenre">
                  <a class="submenu__link" [routerLink]="['/']" [queryParams]="{subgenre: subgenre}">{{subgenre}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
    <!-- Fin de la repetición -->
        <li class="nav-item login" *ngIf="islogged">
          <button class="btn btn-link text-white">
            <i class="fas fa-user"></i> {{ customer.customer_names}} {{customer.customer_surnames}}
            <i class="fas fa-angle-down"></i>
          </button>
          <div class="user-menu" *ngIf="showMenu">
            <button class="btn btn-secondary" [routerLink]="['/'] " (click)="logout()">Cerrar sesión</button>
          </div>
          <br>
          <div class="user-menu" *ngIf="showMenu">
            <button class="btn btn-secondary" [routerLink]="['/mundo-literario/compras'] ">Mis compras</button>
          </div>
        </li>
        <li class="nav-item login" >
          <a class="btn btn-link" *ngIf="!islogged"  href="mundo-literario/login">
            <i class="fas fa-user"></i> Iniciar sesión
          </a>
        </li>
        
      <li class="carrito" >
        <a (click)="onToggleCart()">
          <li class="navbar-cart-items" *ngIf="(myCart$ |async)?.length">
            <p>{{ (myCart$ | async)?.length }}</p>
          </li>
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
        <div class="cart" [ngClass]="{ show: viewCart }">
          <app-car></app-car>
        </div>
  
      </ul>
    </nav>
  </div>
  </header>
