<body>
  <div class="container">
    <div class="forms">
      <div class="form-content">
        <div class="signup-form">
          <div class="title">Iniciar Sesión</div>
          <form (ngSubmit)="login()">
            <div class="input-boxes">
              <div class="input-box">
                <i class="far fa-envelope"></i>
                <input type="email" [(ngModel)]="email" name="email" placeholder="Correo electrónico" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required>
              </div>
              <div class="error-message" *ngIf="errorStatus">{{ errorMsj }}</div>
              <div class="button input-box">
                <button class="custom-button" type="submit">Iniciar Sesión</button>
              </div>
              <h6>¿Aún no estás registrado?</h6>
              <a href="mundo-literario/register" class="toggle">Crear una cuenta</a>
              <a href="mundo-literario/reset-password" class="toggle" style="display: block;">Olvidé mi contraseña</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Contenedor para la imagen -->
    <div class="image-container">
      <img src="assets/images/logo.png" alt="logo">
    </div>
  </div>
</body>