<mat-card>
  <mat-card-header>
    <mat-card-title class="title">Registro de géneros-subgéneros</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="createGenreSubgenre()"  [formGroup]="gensubgenreForm">
      <div class="input-container">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Género</mat-label>
          <mat-select id="selectedGenre" name="selectedGenre" formControlName="selectedGenre" [(ngModel)]="selectedGenre" (ngModelChange)="onGenreSelected()">
            <mat-option *ngFor="let gen of genres" [value]="gen.genre_id">{{ gen.genre_name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="gensubgenreForm.controls['selectedGenre'].hasError('required')">
            Campo requerido.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Subgénero</mat-label>
          <mat-select id="selectedSubgenre" name="selectedSubgenre" formControlName="selectedSubgenre">
            <mat-option *ngFor="let subg of subgenres" [value]="subg.subgenre_id">{{ subg.subgenre_name }}</mat-option>
          </mat-select>
          <mat-error *ngIf="gensubgenreForm.controls['selectedSubgenre'].hasError('required')">
            Campo requerido.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon matPrefix class="material-icons icon-btn">check_circle</mat-icon>Registrar</button>
        <button mat-raised-button class="btn-cancel" type="button" [routerLink]="['/mundo-literario/admin/mantenimiento-generos-subgeneros']">
          <mat-icon matPrefix class="material-icons icon-btn">cancel</mat-icon>
          Cancelar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>