body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7d2ae8;
    padding: 30px;
}

.container {
    margin-top: 5rem;
    width: 100%;
    max-width: 500px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .forms {
    justify-content: center;
  }
  
  .form-content {
    width: 100%;
  }
  
  .signup-form {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  .input-boxes {
    margin-bottom: 1.5rem;
  }
  
  .input-box {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .input-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #aaa;
  }

  .input-box select {
    width: calc(100% - 30px);
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-box select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .error-message {
    color: red;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: small;
  }
  
  .button-group {
    display: block;
    justify-content: space-between;
    align-items: center;
  }

  .custom-button {
    font-weight: 600;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    background-color: #5b13b9;
    color: #ffffff;
  }
  
  .custom-button:hover {
    background-color: #4d109c;
  }

  .custom-button-cancelar {
    font-weight: 600;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    background-color: #555555;
    color: #ffffff;
  }

  .custom-button-cancelar:hover {
    background-color: #444444;
  }

  
  .toggle {
    margin-left: 1rem;
  }
  