.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px; 
  }

  .title{
    font-size: 35px;
    margin-bottom: 30px;
  }
  
  .form-field {
    flex: 0 0 calc(30% - 10px);
  }
  
  .icon {
    margin-left: 12px;
    margin-right: 12px;
  }

  .icon-btn{
    margin-right: 12px;
  }
  button{
    margin-right: 20px;
  }

  .btn-cancel{
    background-color: rgb(90, 90, 90) !important;
    color: white !important;
  }

  @media (max-width: 768px) {
    .form-field {
      flex: 0 0 100%;
      margin-bottom: 16px;
    }
    .title{
      font-size: 28px;
    }
    button{
      margin-right: 10px;
    }
  }