<body>
    <div *ngIf="isLoading" class="overlay">
        <mat-spinner></mat-spinner>
      </div>
    <div class="background-layer"></div>
    <div class="reset-container">
        <div class="reset-form" *ngIf="!resetCodeSent && !resetSuccess">
            <div class="back-link" (click)="gotoLogin()">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="title">Restablecer Contraseña</div>
            <div class="input-group">
                <label for="email">Ingrese su correo electrónico:</label>
                <input type="email" [(ngModel)]="email" id="email">
            </div>
            <div class="button-container">
            <button mat-raised-button color="primary" type="submit" (click)="sendResetCode()">
                Enviar código de restablecimiento
              </button>
            </div>
        </div>

        <div class="reset-form" *ngIf="resetCodeSent && !resetSuccess">
            <div class="back-link" (click)="gotoLogin()">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div class="title">Restablecer Contraseña</div>
            <div class="input-group">
                <label for="resetCode">Ingrese el código de restablecimiento:</label>
                <input type="text" [(ngModel)]="resetCode" id="resetCode">
            </div>
            <div class="input-group">
                <label for="newPassword">Ingrese la nueva contraseña:</label>
                <input type="password" [(ngModel)]="newPassword" id="newPassword">
            </div>
            <div class="input-group">
                <label for="confirmPassword">Confirme la nueva contraseña:</label>
                <input type="password" [(ngModel)]="confirmPassword" id="confirmPassword">
            </div>
            <div class="error-message">{{ errorMsj }}</div>
            <div class="button-container">
                <button mat-raised-button color="primary" type="submit" (click)="resetPassword()">
                    Restablecer contraseña
                  </button>
                </div>
        </div>

        <div class="reset-success" *ngIf="resetSuccess">
            <p>¡Contraseña restablecida correctamente!</p>
        </div>
    </div>
</body>