.title {
  text-align: center !important;
  font-size: 35px;
  margin-bottom: 30px;
}

mat-card-header {
  display: flex !important;
  justify-content: space-between !important;
}

mat-card {
  border: none !important;
  padding: 20px;
  height: 100vh;
}

mat-table {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  overflow-x: auto;
}

.custom-input{
  border-color: #7d2ae8;
}

.icon-btn {
  margin-right: 12px;
}

.edit-btn {
  background-color: #f0bf4c !important;
  padding: 15px;
}

.mat-column-actions {
  flex: 1 1 150px;
}

.mat-paginator-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.mat-paginator-range-label,
.mat-paginator-navigation {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.mat-paginator-page-size,
.mat-paginator-page-size-label {
  flex: 0 1 auto;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  mat-card {
    height: auto;
  }
  
  mat-card-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-and-button {
    flex-direction: column;
    align-items: stretch;
  }

  .search-and-button .col-md-5 {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-and-button button {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .mat-paginator-page-size,
  .mat-paginator-page-size-label {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  mat-card {
    padding: 10px;
  }

  mat-table {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .d-flex {
    flex-wrap: wrap;
  }

  .col-md-5 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  .custom-btn-create {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .mat-header-cell, .mat-cell {
    padding: 8px 16px;
  }

  .mat-column-actions {
    min-width: 150px;
  }

  .mat-column-user_id,
  .mat-column-user_dni,
  .mat-column-user_surnames,
  .mat-column-user_names,
  .mat-column-user_phone_number,
  .mat-column-user_status,
  .mat-column-role,
  .mat-column-actions {
    display: block;
    min-width: 120px;
  }
}

