  .title{
    text-align: center !important;
    font-size: 35px;
    margin-bottom: 30px;
  }

  mat-card-header {
    display: flex !important;
    justify-content: space-between !important;
  }

  mat-card{
    border: none !important;
    padding: 20px;
    max-width: 1200px;
    height: 100vh;
  }

  mat-table{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .icon-btn{
    margin-right: 12px;
  }

  .edit-btn{
    background-color: #f0bf4c !important;
    padding: 15px;
  }
