<footer class="site-footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6">
              <h6>Sobre nosotros</h6>
              <p class="text-justify">Mundo Literario es una librería en línea dedicada a proporcionar una amplia selección de libros en diversos géneros literarios. Nuestro objetivo es fomentar la pasión por la lectura y facilitar el acceso a una variedad de obras literarias para lectores de todas las edades.</p>
          </div>
          <div class="col-xs-6 col-md-3">
          </div>
          <div class="col-xs-6 col-md-3">
          </div>
      </div>
      <hr>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2024 Todos los derechos reservados por
                  <a href="#">Mundo Literario</a>.
              </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                  <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
