<body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="jumbotron text-center custom-jumbotron">
            <h1 class="title display-4">Géneros - Subgéneros</h1>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="d-flex justify-content-end mb-3 align-items-center">
                <button class="custom-btn-create " [routerLink]="['/mundo-literario/admin/form-genero-subgenero']"><i class="fas fa-plus"></i>  Registrar</button>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="error-message text-center" *ngIf="errorStatus">{{ errorMsj }}</div>
              <div class="table-responsive">
                <table class="table table-hover custom-table">
                  <thead class="custom-thead text-center">
                    <tr>
                      <th>Género</th>
                      <th>Subgénero</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr *ngFor="let gensub of gensubdata" class="table-row">
                      <td>{{ gensub.genre }}</td>
                      <td>{{ gensub.subgenre }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>