<router-outlet>
</router-outlet>
<a href="mundo-literario/login" class="toggle">Inicia sesión</a>
    <a href="mundo-literario/register" style="margin-left: 10px" class="toggle">Crear una cuenta</a>
    <a href="mundo-literario/admin/mantenimiento-categorias" style="margin-left: 10px" class="toggle">Mantenimiento categorías</a>
    <a href="mundo-literario/admin/mantenimiento-generos" style="margin-left: 10px" class="toggle">Mantenimiento géneros</a>
    <a href="mundo-literario/admin/mantenimiento-subgeneros" style="margin-left: 10px" class="toggle">Mantenimiento subgéneros</a>
    <a href="mundo-literario/admin/mantenimiento-generos-subgeneros" style="margin-left: 10px" class="toggle">Mantenimiento género subgénero</a>
    <a href="mundo-literario/admin/mantenimiento-libros" style="margin-left: 10px" class="toggle">Productos</a>
    <a href="mundo-literario/admin/mantenimiento-autores" style="margin-left: 10px" class="toggle">Autores</a>
    <a href="/" style="margin-left: 10px" class="toggle">Inicio</a>