<div class="wrapper">
  <div class="mb-3">
    <div id="emailHelp" class="form-text">¡Puedes realizar tus búsquedas aquí!</div>
    <div class="search-container">
        <input type="email" class="form-control" id="search" placeholder="Don Quijote de la Mancha..."
        [(ngModel)]="name">
        <button class="btn-search" mat-icon-button (click)="search(name)">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>

  <div *ngIf="subgenre || name; else noSubgenre">
    <h2 class="product-title">Resultados para "{{ subgenre ? subgenre : name }}"</h2>
    <div *ngIf="books.length > 0; else noBooks"  class="products-container">
        <ng-container *ngFor="let p of books">
            <div class="card">
              <a [routerLink]="['/mundo-literario/libros', p.book_name]">
                <div class="img-wrapper">
                  <img [src]="p.book_img" class="d-block w-100" alt="...">
                </div>
              </a>
              <div class="card-body">
                <h5 class="card-title">{{ p.book_name }}</h5>
                <h5 class="card-autor">{{ p.author.author_name }}</h5>
                <a class="btn btn-primary" (click)="addToCart(p)">Agregar al carrito</a>
              </div>
            </div>
        </ng-container>
    </div>
    <ng-template #noBooks>
      <p>No se encontraron libros de "{{ subgenre }}".</p>
    </ng-template>
  </div>

  <ng-template #noSubgenre>
    <h3 class="product-title">Te podrían interesar</h3>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let p of Randomproducts">
        <ng-template class="slide" carouselSlide [id]="p.book_name">
          <div class="card">
            <a [routerLink]="['/mundo-literario/libros', p.book_name]">
              <div class="img-wrapper">
                <img [src]="p.book_img" class="d-block w-100" alt="...">
              </div>
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ p.book_name }}</h5>
              <h5 class="card-autor">{{ p.author }}</h5>
              <a class="btn btn-primary" (click)="addToCart(p)">Agregar al carrito</a>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>

    <h2 class="product-title">Dramas</h2>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let p of DramasAdultosProducts">
        <ng-template class="slide" carouselSlide [id]="p.book_name">
          <div class="card">
            <a [routerLink]="['/mundo-literario/libros', p.book_name]">
              <div class="img-wrapper">
                <img [src]="p.book_img" class="d-block w-100" alt="...">
              </div>
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ p.book_name }}</h5>
              <h5 class="card-autor">{{ p.author }}</h5>
              <a class="btn btn-warning" (click)="addToCart(p)">Agregar al carrito</a>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>

    <h2 class="product-title">Cómics</h2>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let p of ComicsProducts">
        <ng-template class="slide" carouselSlide [id]="p.book_name">
          <div class="card">
            <a [routerLink]="['/mundo-literario/libros', p.book_name]">
              <div class="img-wrapper">
                <img [src]="p.book_img" class="d-block w-100" alt="...">
              </div>
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ p.book_name }}</h5>
              <h5 class="card-autor">{{ p.author }}</h5>
              <a class="btn btn-primary" (click)="addToCart(p)">Agregar al carrito</a>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </ng-template>
</div>