/* Estilos para el header */
.header {
  background-color: #4e109f;
  color: white;
  padding: 1rem 0;
}

.logo {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.image-logo {
  max-width: 55px;
  margin-right: 10px;
}

/* Estilos para los productos */
.section-title {
  font-size: 20px;
  color: #4e109f;
  font-weight: bold;
}

.divider {
  border-top: 2px solid #4e109f;
}

.productCart-body {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-info {
  margin-left: 20px;
}

.productCart-body-info {
  margin-top: 10px;
}

.product-name {
  font-weight: bold;
  color: #333;
}

.product-image {
  max-width: 100px;
  height: auto;
}

.product-price {
  font-size: 1.1em;
  color: #4e109f;
}

.product-quantity {
  font-size: 0.9em;
  color: #666;
}


/* Estilos para el total */
.totals {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.product-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product-name {
  flex: 1;
}

.price {
  font-size: 1.1em;
  font-weight: bold;
  white-space: nowrap;
}

.total-container {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 2px solid #4e109f;
}

.total {
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
  color: #4e109f;
}


/* Estilos para el botón de compra */
.btn {
  width: 100% !important; 
}
