<app-header></app-header>
<div class="app-container">
  <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title class="profile-title">Perfil</mat-card-title>
      </mat-card-header>
    
      <mat-card-content>
        <form (ngSubmit)="updateCustomer()" [formGroup]="customerForm">
          <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>DNI</mat-label>
              <mat-icon matPrefix class="material-icons icon">badge</mat-icon>
              <input matInput type="text" id="dni" name="dni" formControlName="customer_dni" maxlength="8" (keydown)="validarNumerico($event)" readonly>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Email</mat-label>
              <mat-icon matPrefix class="material-icons icon">email</mat-icon>
              <input matInput type="email" id="email" name="email" formControlName="customer_email" readonly>
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Nombres</mat-label>
              <mat-icon matPrefix class="material-icons icon">person</mat-icon>
              <input matInput type="text" id="names" name="names" formControlName="customer_names" (keydown)="validarNoNumerico($event)" required>
              <mat-error *ngIf="customerForm.controls['customer_names'].hasError('required')">
                Campo requerido.
              </mat-error>
            </mat-form-field>
          </div>
    
          <div class="form-row-2">
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Apellidos</mat-label>
              <mat-icon matPrefix class="material-icons icon">person</mat-icon>
              <input matInput type="text" id="surnames" name="surnames" formControlName="customer_surnames" (keydown)="validarNoNumerico($event)" required>
              <mat-error *ngIf="customerForm.controls['customer_surnames'].hasError('required')">
                Campo requerido.
              </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill" class="form-field">
              <mat-label>Teléfono</mat-label>
              <mat-icon matPrefix class="material-icons icon">phone</mat-icon>
              <input matInput type="tel" id="phone" name="phone" formControlName="customer_phone_number" maxlength="9" (keydown)="validarNumerico($event)">
            </mat-form-field>
          </div>
    
        
    
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon matPrefix class="material-icons icon-btn">check_circle</mat-icon>Actualizar
            </button>
            <button mat-raised-button class="btn-cancel" type="button" [routerLink]="['/mundo-literario/cuenta/perfil']">
              <mat-icon matPrefix class="material-icons icon-btn">cancel</mat-icon>
              Cancelar
            </button>
          </div>
        </form>
      </mat-card-content>
  </mat-card>
</div>